.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button, ul {
  margin-bottom: 2rem;
}

button {
  color: #FFF;
  background-color: crimson;
  padding: 1rem;
}

ul {
  list-style: none;
}